// Styling for the masthead
header.masthead {
  text-align: center;
  color: white;
  background-image: url('../img/Beach-Volleyball-People.jpeg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
  font-size: 50px;
  .inline {
    display: flex;
    justify-content: center;
    text-align: center;
    align-content: center;
    padding-top: 200px;
    .scroller span {
      position: absolute;
      animation: scrollanimation 10s linear infinite 0s;
      opacity: 0;
    }
    .scroller .scroll-1 {
      @include heading-font;
    }
    .scroller .scroll-2 {
      animation-delay: 5s;
      @include heading-font;
    }
    .scroller .scroll-3 {
      animation-delay: 5s;
      @include heading-font;
    }
  }
}

@keyframes scrollanimation {
  0% {
    opacity: 0;
  }
  6% {
    opacity: 0;
    transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
  }
  10% {
    opacity: 1;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
  }
  25% {
    opacity: 1;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
  }
  29% {
    opacity: 0;
    transform: translateY(30px);
    -webkit-transform: translateY(30px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@media(min-width:768px) {
  header.masthead {
    .inline {
      display: flex;
      justify-content: center;
      text-align: center;
      align-content: center;
      padding-top: 200px;
      .scroller span {
        position: absolute;
        animation: scrollanimation 7.5s linear infinite 0s;
        opacity: 0;
      }
      .scroller .scroll-1 {
        text-align: center;
        @include heading-font;
      }
      .scroller .scroll-2 {
        animation-delay: 2.5s;
        @include heading-font;
      }
      .scroller .scroll-3 {
        animation-delay: 5s;
        @include heading-font;
      }
    }
  }
}
