// Styling for the technologies/skills section
.service-heading {
  margin: 15px 0;
  text-transform: none;
}

// Parent Element to Section Heading
.row {
  margin-bottom: 2rem;
  padding: 1rem;
  justify-content: center;
}
